@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<MeteoCardComponentViewModel>

}

<main id="content" role="main">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
        <h1 class="block text-2xl font-bold text-gray-800 py-8 sm:text-3xl dark:text-white">
            Liste les ville de manière lazy (sans hx-boost)
        </h1>
        <div class="max-w-[85rem] mx-auto">
            <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-6"
                 hx-get hx-controller="Home" hx-action="DisplayMeteo" hx-swap="innerHTML"
                 hx-trigger="load" hx-indicator="#progress">
            </div>
        </div>
    </div>

    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8" hx-boost="true">
        <h1 class="block text-2xl font-bold text-gray-800 py-2 sm:text-3xl dark:text-white">
            Liste les ville de manière lazy (avec hx-boost)
        </h1>
        <p class="mt-2 text-lg text-gray-800 dark:text-gray-400">Désactive les animation/transition de Tailwind CSS idk why</p>
        <div class="max-w-[85rem] mx-auto py-4">
            <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-6"
                 hx-get hx-controller="Home" hx-action="DisplayMeteo" hx-swap="innerHTML"
                 hx-trigger="load" hx-indicator="#progress">
            </div>
        </div>
    </div>
</main>